<div>
  <table>
    <tr>
      <td>Username</td>
      <td><input type="text" [(ngModel)]="user.userName"></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="password" [(ngModel)]="user.password"></td>
    </tr>
    <tr>
      <tr>
        <td>Role</td>
        <td>
          <select [(ngModel)]="user.role">
            <option>User</option>
            <option>Admin</option>
          </select>
        </td>
      </tr>
      <tr>
      <td colspan="2">
        <button (click)="Validate()">SingIn</button>
      </td>
    </tr>
    <tr>
      <td colspan="1">
        <span style="color: rebeccapurple;">{{errMsg}}</span>
      </td>
    </tr>
  </table>
</div>
